h1 {
  text-align: center;
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  color: #333;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}


h2 {
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: left;
}
p {
  color: #fff;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 9px;
}
a {
  color: var(--darkblue);
}
.content img {
  width: 120px;
  height: 120px;
  filter: brightness(0.4) sepia(0.1) hue-rotate(175.2deg) saturate(50) grayscale(70.9%) drop-shadow(2px 2px 4px rgba(12,12,13,0.1));
}

@media screen and (min-width: 900px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
  }
  .content img {
    width: 226px;
    height: 226px;
  }

}